.show-banner{
    position: absolute;
    left: 0;
    top: 15%;
    padding: 10px;
    text-align: center;
}

.show-banner h3{
    padding: 5px;
    text-align: center;
    margin: 10px;
}

.show-banner p{
    text-align: center;
}

.show-banner div{
    padding: 10px;
    text-align: center;
    margin: 20px;
}

.show-banner a{
    background-color: springgreen;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.show-banner img{
    width: 120px;
    background-color: springgreen;
    border-radius: 100%;
}